[Unit]
Description=xorg cheatcodes in live media
ConditionPathExists=/usr/share/2021-03-xorg-livesettings/
After=2021-03-common-livesettings.service

[Service]
Type=oneshot
ExecStart=/usr/share/2021-03-xorg-livesettings/xorg-cheatcodes start

[Install]
WantedBy=graphical.target
