[Unit]
Description=xorg cheatcodes in live media
ConditionPathExists=/usr/share/cblues-xorg-livesettings/
After=cblues-common-livesettings.service

[Service]
Type=oneshot
ExecStart=/usr/share/cblues-xorg-livesettings/xorg-cheatcodes start

[Install]
WantedBy=graphical.target
