Source: farewell-xorg-settings
Section: misc
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
Uploaders: Torsten Wohlfarth <towo@siduction.org>,
           Ovidiu Angelescu <convbsd@siduction.net>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.4
Vcs-Browser: https://github.com/siduction/siduction-xorg
Vcs-Git: https://github.com/siduction/siduction-xorg.git
Homepage: https://github.com/siduction/siduction-xorg

Package: farewell-xorg-settings
Architecture: all
Depends: ${misc:Depends},
         fluxbox | x-window-manager,
         farewell-wallpapers,
         farewell-sddm-settings
	 | farewell-lightdm-gtk-settings
	 | farewell-gdm3-settings,
         farewell-common-settings
Description: Xorg settings (installed mode)
 Provides default settings for appearance and applications of the fluxbox
 desktop.
 .
 This overrides fluxbox's defaults used for new users, all settings remain
 configurable by the local user and don't override already existing user
 profiles.

Package: farewell-xorg-livesettings
Architecture: all
Depends: ${misc:Depends},
         siduction-icons,
         farewell-xorg-settings,
         farewell-common-livesettings,
         farewell-wallpapers,
         farewell-sddm-livesettings
         | farewell-ligthdm-gtk-livesettings
         | farewell-gdm3-livesettings
Description: Xorg settings (live mode)
 Meta package that throw in the needed dependencies for the settings package
