[Unit]
Description=xorg cheatcodes in live media
ConditionPathExists=/usr/share/wintersky-xorg-livesettings/
After=wintersky-common-livesettings.service

[Service]
Type=oneshot
ExecStart=/usr/share/wintersky-xorg-livesettings/xorg-cheatcodes start

[Install]
WantedBy=graphical.target
